<h1>Zamównienie</h1>

<div *ngIf="orderSummary" class="orderSummary">
  <div>Nowe zamówienie o numerze: {{orderSummary.id}}</div>
  <div>Data złożenia: {{orderSummary.placeDate | date: 'yyyy-MM-dd HH:mm'}}</div>
  <div>Status: {{getStatus(orderSummary.status)}}</div>
  <div>Wartość: {{orderSummary.grossValue}} PLN</div>
  <div *ngIf="orderSummary.payment.note" class="paymentNote">
    <p>Płatność:</p>
    <p class="paymentNote" [innerHTML]="orderSummary.payment.note | replace: '\n': '\<br>' "></p>
  </div>

</div>

<div *ngIf="!orderSummary && cartSummary && cartSummary.items.length <= 0">
  Koszyk jest pusty. Nie możesz zrealizować zamówienia.
</div>

<div *ngIf="!orderSummary && cartSummary && cartSummary.items.length > 0">
  <form [formGroup]="formGroup" (submit)="submit()">
    <div fxLayout="column" class="orderForm">
      <mat-form-field appearance="fill">
        <mat-label>Imię</mat-label>
        <input matInput placeholder="Podaj imię" formControlName="firstname">
        <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)" class="errorMessage">
          <div *ngIf="firstname?.errors?.['required']">
            Imię jest wymagane
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input matInput placeholder="Podaj nazwisko" formControlName="lastname">
        <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)" class="errorMessage">
          <div *ngIf="lastname?.errors?.['required']">
            Nazwisko jest wymagane
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ulica</mat-label>
        <input matInput placeholder="Podaj ulicę" formControlName="street">
        <div *ngIf="street?.invalid && (street?.dirty || street?.touched)" class="errorMessage">
          <div *ngIf="street?.errors?.['required']">
            Nazwa ulicy jest wymagana
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Kod pocztkowy</mat-label>
        <input matInput placeholder="Podaj kodpocztowy" formControlName="zipcode">
        <div *ngIf="zipcode?.invalid && (zipcode?.dirty || zipcode?.touched)" class="errorMessage">
          <div *ngIf="zipcode?.errors?.['required']">
            Kod pocztowy jest wymagany
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Miasto</mat-label>
        <input matInput placeholder="Podaj miasto" formControlName="city">
        <div *ngIf="city?.invalid && (city?.dirty || city?.touched)" class="errorMessage">
          <div *ngIf="city?.errors?.['required']">
            Miasto jest wymagane
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Podaj email" formControlName="email">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="errorMessage">
          <div *ngIf="email?.errors?.['required']">
            Email jest wymagany
          </div>
          <div *ngIf="email?.errors?.['email']">
            Podaj porawny format email
          </div>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefon</mat-label>
        <input matInput placeholder="Podaj telefon" formControlName="phone">
        <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="errorMessage">
          <div *ngIf="phone?.errors?.['required']">
            Telefon jest wymagany
          </div>
        </div>
      </mat-form-field>
    </div>
    <div>
      <div fxLayoutGap="25px grid">
        <div>
          <h2>Zamawiasz:</h2>
          <div fxLayout="row" fxLayoutAlign="space-between start" class="card-hrow">
            <div class="cart-hcol-1">Obraz</div>
            <div class="cart-hcol-2">Nazwa</div>
            <div class="cart-hcol-3">Ilość</div>
            <div class="cart-hcol-4">Wartość</div>
          </div>
          <div *ngFor="let item of cartSummary.items; let i = index" class="card-row">
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div class="cart-col-1">
                <a routerLink="{{'/products/' + item.product.slug}}">
                  <img *ngIf="!item.product?.image" src="/assets/image-placeholder.png" width="100">
                  <img *ngIf="item.product?.image" src="{{'/api/data/productImages/' + item.product.image}}"
                    width="100">
                </a>
              </div>
              <div class="cart-col-2">{{item.product.name}}</div>
              <div class="cart-col-3">{{item.quantity}}</div>
              <div class="cart-col-4">{{item.lineValue}}</div>
            </div>
          </div>
          <div fxLayoutAlign="end start">
            <div class="summary"> Wartość: </div>
            <div class="summary"> <b>{{cartSummary.summary.grossValue}}</b></div>
          </div>
          <div>
            <h2>Dostawa</h2>
            <mat-radio-group fxLayout="column" formControlName="shipment">
              <mat-radio-button class="shipmentRadioButton" *ngFor="let shipment of initData?.shipments"
                [checked]="shipment.defaultShipment" [value]="shipment">
                <span class="shipment-1">{{shipment.name}}</span>
                <span class="shipment-2">{{shipment.price}} PLN</span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <h2>Płatność</h2>
            <mat-radio-group fxLayout="column" formControlName="payment">
              <mat-radio-button class="paymentRadioButton" *ngFor="let payment of initData?.payments"
                [checked]="payment.defaultPayment" [value]="payment">
                {{payment.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div fxLayoutAlign="end">
          <div class="orderTotal">Całkowita kwota do zapłaty:
            <span class="orderTotalValue">{{cartSummary.summary.grossValue + shipment?.value.price}}</span>
          </div>
        </div>
        <div *ngIf="errorMessage" class="errorMessage" fxLayoutAlign="end start">
          Coś poszło nie tak. Spróbuj ponownie poźniej.
        </div>
        <div fxLayoutAlign="end start">
          <button mat-flat-button color="accent" class="orderButton">Zamawiam i płacę</button>
        </div>
      </div>
    </div>
  </form>
</div>