<h2>Odzyskiwanie hasła</h2>
<form *ngIf="!hash" [formGroup]="formGroup" fxLayout="column" (submit)="send()" class="lostPasswordForm">
    <div *ngIf="formError" class="error">{{formError}}</div>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Podaj swój email">
    </mat-form-field>
    <button mat-flat-button color="primary">Prześlij</button>
</form>
<form *ngIf="hash" [formGroup]="formGroupChangePassword" fxLayout="column" (submit)="sendChangePassword()"
    class="lostPasswordForm">
    <div *ngIf="formChangePasswordError" class="error">{{formChangePasswordError}}</div>
    <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Podaj hasło">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Powtórz hasło</mat-label>
        <input type="password" matInput formControlName="repeatPassword" placeholder="Powtórz hasło">
    </mat-form-field>
    <button mat-flat-button color="primary">Prześlij</button>
</form>