<div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <h2>Logowanie</h2>
        <form [formGroup]="loginForm" fxLayout="column" (submit)="login()" class="loginForm">
            <div *ngIf="loginError" class="error">Podaj poprawne dane logowania</div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username" placeholder="Podaj swój email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Hasło</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <button mat-flat-button color="primary">Zaloguj</button>
        </form>
        <div class="lostPassword">
            <a routerLink="/lostPassword">Zapomniałeś hasła?</a>
        </div>
    </div>
    <div fxFlex>
        <h2>Rejestracja</h2>
        <form [formGroup]="registrationForm" fxLayout="column" (submit)="register()" class="registrationForm">
            <div *ngIf="registrationError" class="error">{{registrationErrorMsg}}</div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username" placeholder="Podaj swój email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Hasło</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Powtórz hasło</mat-label>
                <input type="password" matInput formControlName="repeatPassword" placeholder="Powtórz hasło">
            </mat-form-field>
            <button mat-flat-button color="primary">Zarejestruj</button>
        </form>
    </div>
</div>